.container {
    text-align: center;
    margin-top: 50px;
  }
  
  #color-box {
    width: 200px;
    height: 200px;
    background-color: #000000;
  }
  
  #change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }